<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="filmes">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Filmes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="series">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Series</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conf">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
